<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Docker, Node, Mongo - post</title>
</head>

<body>
    <h1>Docker, Node, Mongo - item</h1>

    <form method="post" action="/posts">
        <label for="title">Title</label>
        <input type="text" name="title">
        <input type="submit" value="add">
    </form>

    <h4>Posts</h4>
    <ul>
        <% posts.forEach(function(post) { %>
          <li>
              <%= post.title %>
          </li>
          <% }); %>
    </ul>

</body>

</html>